*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    padding: 10px;
    width: 98vw;
    /* height: 350px; */
    /* border: 1px solid red; */
}
h1{
    margin-left: 500px;
    font-size: 50px;
    color: darkcyan;
}
input{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-size: 25px;
}
button{
    cursor: pointer;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #fb0;
    padding: 5px;
    font-weight: bold;
}