*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 184, 243);
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    margin-bottom: 8px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 8px;
}
.container{
    background-color: rgb(5, 5, 87);
    border: 1px solid rgb(5, 5, 87);
    border-radius: 8px;
    color: white;
    /* height: 440px; */
    width: 400px;
    padding: 10px;
}
input{
    width: 100%;
    height: 24px;
    border-radius: 3px;
    border: none;
}
input:focus{
    outline: none;
    box-shadow: none;
}
input[type="submit"]{
    color: white;
    background-color: rgb(39, 169, 220);
    cursor: pointer;
}
#result{
    width: 100%;
    background-color: rgb(20, 20, 124);
}